<h1><%= t("edit") %> <%= t("device") %></h1>

<%= render 'form' %>

<br>
<td>
  <%= link_to @device  do %>
    <i class="glyphicon glyphicon-edit"></i>
  <% end %>
</td>
<td>
  <%= link_to devices_path  do %>
    <i class="glyphicon glyphicon-list"></i>
  <% end %>
</td>

