<div class="authform">
  
    <% if @booking.new_record? %>
    <% end %>
  
    <%= simple_form_for(@booking) do |f| %>

    <div class="form-inputs">

        <% if @booking.new_record? %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        <h3><%= t("New_Booking") %></h3> <br>
        <% else %>
          <h3><%= @booking.user.name %>'s <%= t("Booking") %></h3>
        <% end %>

      <p><%= f.datetime_select :order_datetime, { discard_minute: true, minute_step: 60, ampm: true} %></p>
      
        <%#= f.input :order_datetime, discard_minute: :true, minute_step: 60, ampm: true %>
      
        <% if @booking.new_record? %>
          <%= f.input :hours, label: t("hours"), collection: [[4, '4:  $1,100'], [8, ' 8:  $1,900'], [12, '12: $2,700'] ], as: :radio_buttons, label_method: :last, value_method: :first%>
        <% else %>
          <Strong><%= t("duration") %>: <%= @booking.hours %> <%= t("hours") %></strong> <br><br>
        <% end %>
      
      <%= f.input :hospital, collection: Booking.i18n_hospitals %>
        <%= f.input :location %>

        <% if current_user.admin? %>
          <%= f.association :nurse, :as => :collection_select, collection: User.partner %>
        <% end %>

      <% @booking.contact_person = current_user.name %>
      <% @booking.contact_phone_no = current_user.phone_no %>
        <%= f.input :contact_person %>
        <%= f.input :contact_phone_no %>
      
      <%= f.input :preferred_language, collection: Booking.preferred_languages.keys  %>
      
        <% if @booking.new_record? %>
          <%= f.hidden_field :status, value: :Pending %>
        <% else %>
          <%#= f.input :status, collection: Booking.statuses.keys %>
          <strong><%= t("status") %>: <%= @booking.status %></strong>
        <% end %>
      
    </div>
  
  <% if @booking.new_record? %>
    <form action="" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-amount=""
        data-name="Lets Nurse"
        data-description="Stripe Payment Gateway"
        data-image="<%= image_url('stripeLogo.png') %>"
        data-locale="auto"
        data-currency="hkd">
      </script>
    </form>
  <% elsif @booking.Open? or @booking.Matched? %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
  <% end %>
  
  <% end %>
</div>

