<!--<div class="authform">-->
  <div >
  <%#= simple_form_for @order, html: { class: 'cc_form'} do |f| %>
  <%= simple_form_for(@order)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <% if @order.new_record? %>
      <h4><%= t("new_order") %></h4>  
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% else %>
      <h4><%= @order.user.name %> <%= t("Booking") %></h4>
    <% end %>
    <%#= f.association :user, :as => :collection_select, collection: User.customer %>
        
    <%= f.input :booking_date, as: :date, html5: true, label: t('booking_date') %>  
    <%= f.input :booking_time, label: t('booking_time') %>
    <%= f.input :duration, label: t('duration'), collection: [2,4,8,12] %> 
    <%= f.input :hospital, label: t('hospital'), collection: Order.hospitals.keys %>
    <%= f.input :location, label: t('location'), placeholder: t('location_details')%>
    <%= f.input :server_grade, label: t('server_grade'), collection: Order.server_grades.keys %>

    <% if current_user.role == :admin %>
      <%= f.association :server, :as => :collection_select, collection: User.partner %>
    <% end %>
    <%= f.input :contact_person, label: t('contact_person')%>
    <%= f.input :contact_phone_no, label: t('contact_phone_no') %>
    <% if @order.fee.present? %>
      <%= f.input :fee, label: t('fee'), placeholder: t('total_fee') %>
    <% end %>
    
<!-- Credit card payment details --> 

   <% if @order.new_record? %>
     <%#= render 'payment' %>
   <% end %>
  </div>
  
<!-- Credit card payment details --> 

  <div class="form-actions">
    <%= f.button :submit %>
  </div>     

<!--
  <%= link_to @order do %>
    <i class="glyphicon glyphicon-zoom-in"></i>
  <% end %>

  <%= link_to orders_path do %>
    <i class="glyphicon glyphicon-list"></i>
  <% end %>
-->
  
<% end %>
</div>


