<br>
<%= simple_form_for(@order, :html => {:multipart => true}) do |f| %>  

  <p>  <strong><%= t("call_date") %>:</strong> <%= @order.call_date.strftime("%F %I:%M %P") %></p>
  <p>  <strong><%= t("client") %>: </strong> 
      <% if I18n.locale == :zh %>
        <%= @order.store.client.chi_name %> ( <%= @order.store.code %> <%= @order.store.chi_name %> )
      <% else %>
        <%= @order.store.client.name %> ( <%= @order.store.code %> <%= @order.store.name %> )
      <% end %>
  </p>  
  <p>  <strong><%= t("repair_date") %>:</strong> <%= @order.repair_date.strftime("%F") %></p>
  <p>  <strong><%= t("technician") %>: </strong>  <%= @order.technician.name  %></p>
  <p>  <strong><%= t("issue") %>: </strong> 
      <% if I18n.locale == :zh %>
        <%= @order.device.chi_name %> - <%= @order.issue.chi_name %> 
      <% else %>
        <%= @order.device.name %> - <%= @order.issue.name %> 
      <% end %>
  </p>
  <p>  <strong><%= t("notes") %>: </strong>  <%= @order.notes  %></p>

  <% if I18n.locale == :zh %>
      <%= f.association :work, :label => t("work"), :label_method => :chi_name %>   
    <% else %>
      <%= f.association :work, :label => t("work"), :label_method => :name %>
    <% end %>

<br>

<div class="row"  >

    <div id="upload_image_01" class="col-xs-3 col-md-3 fileupload center photo">
        <%= f.file_field :image_01  %>
      <div id="preview_image_01">
          <%= image_tag @order.image_01.url(:thumb) if (@order.image_01? ) %>
      </div>
    </div>
    <div id="upload_image_02" class="col-xs-3 col-md-3 fileupload center photo">
        <%= f.file_field :image_02  %>
      <div id="preview_image_02">
          <%= image_tag @order.image_02.url(:thumb) if (@order.image_02? ) %>
      </div>
    </div>
    <div id="upload_image_03" class="col-xs-3 col-md-3 fileupload center photo">
        <%= f.file_field :image_03  %>
      <div id="preview_image_03">
          <%= image_tag @order.image_03.url(:thumb) if (@order.image_03? ) %>
      </div>
    </div>
    <div id="upload_image_04" class="col-xs-3 col-md-3 fileupload center photo">
        <%= f.file_field :image_04  %>
      <div id="preview_image_04">
          <%= image_tag @order.image_04.url(:thumb) if (@order.image_04? ) %>
      </div>
    </div>
  
</div>

    <br>
    <div>
      <%= f.button :submit, :class => 'btn btn-tall btn-info col-xs-12' %>
    </div><br>
    
<% end %>
    
<script>

$(function() {
  $('#upload_image_01').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.src = file.target.result;
      $('#preview_image_01').html(img);
    }
    reader.readAsDataURL(image);
  });
});  
  
$(function() {
  $('#upload_image_02').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      $('#preview_image_02').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});    
  
$(function() {
  $('#upload_image_03').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.src = file.target.result;
      $('#preview_image_03').html(img);
    }
    reader.readAsDataURL(image);
  });
});  
  
$(function() {
  $('#upload_image_04').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      $('#preview_image_04').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});  

</script>