<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @district.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Chi name:</strong>
  <%= @district.chi_name %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
