<% if user_signed_in? %>
<%# add navigation links to this file %>
  <% if current_user.admin? or current_user.manager? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('administration')%><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('client_list'), clients_path %></li>
              <li><%= link_to t('device_list'), devices_path %></li>
              <li><%= link_to t('issue_list'), issues_path %></li>
              <li><%= link_to t('work_list'), works_path %></li>
            </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('order')%><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('new_order'), stores_path %></li>
              <li><%= link_to t('order_list'), orders_path %></li> 
            </ul>
        </li>
  <% else %> 
      <li><%= link_to t('order_list'), orders_path %></li> 
  <% end %>
<!--
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><%= link_to 'Full Width Page', page_path('full-width') %></li>
                <li><%= link_to 'Sidebar Page', page_path('sidebar') %></li>
                <li><%= link_to 'FAQ', page_path('faq') %></li>
                <li><%= link_to '404', page_path('404') %></li>
                <li><%= link_to 'about', page_path('about') %></li>
                <li><%= link_to 'Pricing Table', page_path('pricing') %></li>
            </ul>
        </li>
-->
<% else %>
    <li><%#= link_to t('about'), about_path %></li>
<% end %>   

<% if I18n.locale == :zh %>
    <li><%= link_to 'English', url_for( :locale => 'en' ) %></li>    
<% else %>
    <li><%= link_to '中文', url_for( :locale => 'zh' ) %></li>
<% end %>